html, body, section {
    margin: 0;
    padding: 0;
}
section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.headline {
    display: flex;
    width: inherit;
    justify-content: center;
    background-color: aqua;
}
.childHeadline {
    border: 1px solid yellow;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33%;
    justify-content: center;
}
.childHeadline:empty {
    background-color: orange;
}
.childHeadline:not(:empty) {
    background-color: white;
}

.textline {
    position: relative;
    padding: 10px;
}
.textline:before {
    position: absolute;
    content: url("img/biohazard-solid.svg");
    /*border: 1px black;*/
    width: 25px;
    height: 25px;
    top: 0;
    left: 48.5%;
}
.textline:after {
    position: absolute;
    content: url("img/biohazard-solid.svg");
    /*border: 1px black;*/
    width: 25px;
    height: 25px;
    bottom: 0;
    left: 48.5%;
}
.childTextline {
    text-align: center;
}

.linkClass {
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
/*.linkClass :before {*/
    /*!*border: orange 1px solid;*!*/
    /*content: "";*/
    /*!*width: 0;*!*/
    /*!*height: 20px;*!*/
    /*!*width: 20px;*!*/
    /*border-left: 10px solid transparent;*/
    /*border-right: 10px solid transparent;*/
    /*border-bottom: 20px solid red;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 46%;*/
/*}*/

.linkClass :before {
    /*position: relative;*/
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.2em solid black;
    border-top: 0.2em solid black;
    transform: rotate(45deg);
    margin-right: 0.5em;
}
.quote {
    display: flex;
    justify-content: center;
    width: 100%;
    /*align-items: center;*/
}

.childQuote {
    display: inline-block;
    position: relative;
    /*margin: 0 auto;*/
}
.quote h2:before {
    font-family:"Font Awesome 5 Free";
    content: "\f3b8";  /* this is your text. You can also use UTF-8 character codes as I do here */

    left:-20px;
    position:absolute;
    top:0;
}

